extends layout

block content

  div(class = "login_screen")
    h1
      img(src="/image/logo_black.png" id="svg_logo")
      span(class="color_main") IT
      | RU

    //- p(id="sub_title")
    //-   | Интерактивное Расписание
    //-   br
    //-   | для Российских Университетов

    form(method="post", id="login-form")
      p
        input(class="log" type="email", name="email", id="login-email", placeholder="Почта", required)
      p
        input(class="log" type="password", name="password", id="login-password", placeholder="Пароль", required)
      p
        input(class="logbtn" type="submit", value="Войти", id="login-submit")
    div(id="login_links")
      a(href="register", id="reg_link") Создать аккаунт
      a(href="#", id="reg_link", style="color: gray" onclick=("alert('Функция пока в разработке!');")) Забыли пароль?

block scripts
  script(src="/js/login.js")
